/*RESET  CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f08a5d;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ----- Reset end -----  */

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
}

main {
  height: 100vh;
  white-space: nowrap;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#forms-container {
  height: 100vh;
  width: 70vw;
  max-width: 1000px;
  min-width: 500px;
  margin: 0;
  padding: 20px 30px;
  background-color: #eeecda;
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: 5px 0;
  flex-direction: column;
}

.label-container {
  width: 100%;
  margin-top: 6px;
  min-width: 170px;
  color: #6a2c70;
  font-size: 1.2em;
  font-weight: bold;
  max-width: 500px;
}

.input-container {
  width: 450px;
  margin-top: 6px;
  font-size: 1em;
}

.input-container > input {
  width: 400px;
  padding: 12px 18px;
  background-color: #f5f6fa;
  color: #470d4d;
  border: 2px solid transparent;
  border-bottom: 2px solid #470d4d;
  border-radius: 3px;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  outline: none;
}

input:focus {
  outline: none;
  border: 2px solid #470d4d;
}

#button-container {
  margin-top: 30px;
  text-align: center;
}

button {
  letter-spacing: 2px;
  font-size: 18px;
  background-color: #846e86;
  border: none;
  color: #e9ab90;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: border-radius 0.2s, letter-spacing 0.2s, color 0.2s,
    background-color 0.2s;
  transition: border-radius 0.2s, letter-spacing 0.2s, color 0.2s,
    background-color 0.2s;
}

button:hover {
  background-color: #6a2c70;
  color: #f08a5d;
  letter-spacing: 4px;
  cursor: pointer;
}

button:active {
  outline: 2px solid #f08a5d;
}

.error {
  display: block;
  padding-bottom: 10px;
  color: #b83b5e;
  font-size: 1em;
}

.valid {
  display: block;
  padding-bottom: 10px;
  color: #098044;
  font-weight: bold;
}

/* Show */
.show {
  display: block;
}
